* {font-family: sans-serif;}

header {
    float: right;
    margin-top: 3px;
    position: fixed;
    right: 0;
    top: 0;
}

span {
    margin-right: 10px;
    font-size: 12px;
}

#profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

#google-logo {
    width: 257px;
    height: 108px;
    margin-bottom: 10px;
}

#search {
    text-align: center;
    margin-top: 140px;
}

input[type=text] {
    width: 35%;
    border-radius: 20px;
    padding: 12px;
    padding-left: 35px;
    outline: none;
    background-image: url('search-icon.png');
    border: solid rgb(218, 212, 212) 0.2px;
    background-size: 15px;
    background-position: 10px;
    background-repeat: no-repeat;
}

input[type=text]:hover, input[type=text]:focus {
    box-shadow: 0px 2px 10px rgba(179, 174, 174, 0.5);
    border: solid rgb(151, 147, 147) 0px;
}

button {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    margin-right: 5px;
    color: grey;
    display: inline;
    cursor: pointer;
}

button:hover, button:focus {
    box-shadow: 0px 3px 4px rgb(223, 225, 226);
    border: solid rgb(210, 211, 212) 1px;
    color: black; 
}

form {display: inline;}
